.rejected {
    color: red;
    background:lightpink;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .accepted {
    color: rgb(0, 128, 0);
    background: lightgreen;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .blog {
    padding-top: 10px;
    padding-left: 2px;
    border: solid;
    border-width: 1px;
    margin-bottom: 5px;
  }


  .blog_show_all {
    padding-top: 10px;
    padding-left: 2px;
    border: solid;
    border-width: 1px;
    margin-bottom: 5px;
  }


  .button{
    margin: 3px;
    padding: 4px;
    
  }